html {
    font-size: 1.125em;
}

#background {
    background-color: rgb(50,50,50);
    background-image: url(img/ba1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    height: 600px;
    opacity: 1.0;
    background-position: center;
    background-blend-mode: soft-light;
}

#Text {
    position: absolute;
  top: 40%;
  right: 5%;
  width: 40%;
  justify-content: left;
}

#verde {
    color: darkgreen;
}

/*       <main id="background" class="container-fluid">
        <div class="p-4 p-md-5 mb-4 text-white">
          <div class="col-md-5 px-0">
            <h1 class="display-4">Title of a longer featured blog post</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          </div>
        </div> */

        #borde1 {
            border-style: solid;
            border-width: 1px;
            border-color: white;
            border-radius: 5px;
            padding: 5px;
        }

        #borde2 {
            background-color: rgb(70, 200, 70);
            border-radius: 5px;
            padding: 5px;
        }